.agent {
    padding-top: 55px;
    position: relative;
    height: 342px;
    background: url(../img/background_agent.png) center center/cover no-repeat;
    @include after_bg;
    &__round {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        border: 1px solid;
        border-radius: 100%;
        color: white;
    }
    &__title {
        margin-top: 20px;
        color: white;
    }
    &__descr {
        margin-top: 22px;
        text-align: center;
        color: white;
        font-size: 19px;
        font-weight: 300;
        line-height: 1.42;
    }
}