.btn {
    display: block;
    background-color: #ec644b;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    padding-top: 3px;
    &:hover {
        background-color: #ce5a45;
    }
    &_230 {
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
    }
    &_180 {
        width: 180px;
        height: 45px;
    }
    &_160 {
        width: 160px;
        height: 45px;
    }
}