.btn {
    background-color: #ec644b;
    width: 160px;
    height: 45px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    &_230 {
        display: block;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
    }
    &_180 {
        display: block;
        width: 180px;
        height: 45px;
    }
}