.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__subheader {
        display: none;
    }
    &__menu {
        width: 600px;  
        padding: 0;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 400;
        list-style-type: none;
        margin-bottom: 0;
        li {
            padding-right: 12px;
            border-right: 1px dotted white;
            &:last-child {
                border: none;
            }
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: #ec644b;
                }
            }
        } 
    }
    &__contacts {
        display: flex;
    }
    &__phone {
        margin-right: 5px;
        text-align: end;
        &-subheader {
            font-size: 14px;
            font-weight: 300;
            color: white;
            line-height: 1.71;
        }
        &-tel {
            font-size: 18px;
            font-weight: 700;
            text-decoration: none; 
            color: white;
            line-height: 1.26;
            &:hover {
                color: #ec644b;
            }
        }
    }
    &__hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        span {
            transition: 0.5s;
            display: block;
            margin-bottom: 4px;
            height: 3px;
            width: 30px;
            background-color: #ec644b;
            &.long {
                width: 36px;
            }
        }
    }
}

.promo {
    padding: 23px 0 82px;
    position: relative;
    width: 100vw;
    min-height: 680px;
    background: url(../img/background_header.png) center center/cover no-repeat;
    @include after_bg;
    &__subheader {
        margin-top: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        color: white;
    }
    &__title {
        margin-top: 20px;
        font-size: 62px;
        font-weight: 700;
        color:#ec644b;
        font-stretch: condensed;
    }
    &__subtitle {
        font-size: 37px;
        font-weight: 400;
        color: white;
        margin-bottom: 35px;
    }
    &__ellipse {
        position: relative;
        width: 9px;
        height: 9px;
        background-color: #fff;
        border-radius: 100%;
        margin: 0 auto 15px auto;
        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 390px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
        }
        &:after {
            right: 20px;
        }
        &:before {
            left: 20px;
        }
    }
    &__wrapper {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        text-align: center;
        width: 285px;
        &:nth-child(2) {
            transform: translateY(4%);
        }
        &-descr {
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.38;
            color: white;
        }
    }
    &__button {
        padding-top: 3px;
        margin: 0 auto;
    }
}
