.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        width: 600px;
        ul {
            padding: 0;
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            font-weight: 400;
            list-style-type: none;
            li {
                padding-right: 12px;
                border-right: 1px dotted white;
                &:last-child {
                    border: none;
                }
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        color: #ec644b;
                    }
                }
            } 
        }     
    }
    &__contacts {
        width: 340px;
        display: flex;
        justify-content: space-between;
    }
    &__phone {
        width: 161px;
        text-align: end;
        &-subheader {
            font-size: 14px;
            font-weight: 300;
            color: white;
            line-height: 1.71;
        }
        &-tel {
            font-size: 18px;
            font-weight: 700;
            text-decoration: none; 
            color: white;
            line-height: 1.26;
            &:hover {
                color: #ec644b;
            }
        }
    }
}

.promo {
    padding-top: 23px;
    position: relative;
    width: 100vw;
    height: 680px;
    background: url(../img/background_header.png) center center/cover no-repeat;
    @include after_bg;
    &__subheader {
        margin-top: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        color: white;
    }
    &__title {
        margin-top: 20px;
        font-size: 62px;
        font-weight: 700;
        color:#ec644b;
        font-stretch: condensed;
    }
    &__subtitle {
        font-size: 37px;
        font-weight: 400;
        color: white;
        margin-bottom: 35px;
    }
    &__ellipse {
        position: relative;
        width: 9px;
        height: 9px;
        background-color: #fff;
        border-radius: 100%;
        margin: auto;
        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 390px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
        }
        &:after {
            right: 20px;
        }
        &:before {
            left: 20px;
        }
    }
    &__wrapper {
        margin-top: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        text-align: center;
        width: 285px;
        &:nth-child(2) {
            transform: translateY(4%);
        }
        &-descr {
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.38;
            color: white;
        }
    }
    .btn_230 {
        padding-top: 3px;
        margin: 30px auto 0 auto;
    }
}
