.questions {
    padding: 70px 0 80px 0;
    position: relative;
    min-height: 438px;
    background: url(../img/background_form.png) center center/cover no-repeat;
    @include after_bg;
    &__wrapper {
        margin: 0 auto;
        width: 896px;
        min-height: 297px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    &__title {
        padding-top: 10px;
        width: 100%;
        height: 68px;
        background-color: #25333c;
        z-index: 2;
        text-align: center;
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        span {
            font-size: 19px;
            font-weight: 700;
            line-height: normal;
        }
    }
    &__form {
        padding-top: 18px;
        padding-bottom: 25px;
        text-align: center;
        input {
            margin-bottom: 7px;
        }
        &-textarea {       
            width: 812px;
            height: 70px;
            padding: 10px 25px;
            border: solid 1px rgba(0, 0, 0, 0.21);
            border-radius: 10px;
            resize: none;
            outline: none;
            &::placeholder {
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
    &__button {
        margin: 9px auto 0 auto;
    }
} 
