@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';

@import 'base/mixins';
@import 'blocks/btn';
@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/ourwork';
@import 'blocks/section';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/schemes';
@import 'blocks/reviews';
@import 'blocks/questions';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/media';


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    // z-index: 0;
}

.divider {
    margin: 20px auto 20px auto;
    width: 150px;
    height: 1px;
    background-color: #ec644b;
}

input {
    width: 268px; 
    height: 45px;
    padding: 0 28px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 30px;
    outline: none;
    &::placeholder {
        font-size: 13px;
        font-weight: 300;
    }
}
