@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'libs/bootstrap-reboot.min.scss';

@import 'blocks/btn';
@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/ourwork';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/managers';
@import 'blocks/schemes';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    z-index: 2;
}

