.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-color: black;
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    margin: 16px 0 0 18px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}