.footer__copyright {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
}

@media (max-width: 700px) {
  .footer__copyright {
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    margin: 48px 0 0 0;
  }
}