@media (max-width:1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width:1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template-columns: repeat(2, 250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,1fr);
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-around;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px) ;
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-around;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 20px;
            .horizonal, .vertical {
                grid-column: unset;
                grid-row: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 300px 585px;
        }
    }
}

@media (max-width:992px) {
    .container {
        max-width: 720px;
    }

    .about {
        &__subtitle {
            font-size: 30px;
        }
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            column-gap: 20px;
            justify-content: center;
        }
    }
    .skills {
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            column-gap: 0;
            padding: 0;
            &-line {
                width: 100%;
            }
        }
    }
    .price {
        margin-top: 40px;
        &__wrapper {
            padding: 40px 0 0 0;
            grid-template-columns: repeat(auto-fit, 350px);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
}

@media (max-width:768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }

    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 45px;
        &__subtitle {
            font-size: 24px;
            line-height: 36px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            padding-top: 40px;
            row-gap: 30px;
        }
    }
    .skills {
        margin-top: 45px;
        &__subtitle {
            font-size: 24px;
            line-height: 36px;
        }
        &__wrapper {
            margin-top: 20px;
        }
        &__ratings {
            margin-top: 40px;
        }
    }
    .portfolio {
        margin-top: 40px;
        &__subtitle {
            font-size: 24px;
            line-height: 36px;
        }
        &__wrapper {
            margin-top: 40px;
        }
    }
    .price {
        &__wrapper {
            padding-top: 20px;
            justify-content: center;
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 36px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width:576px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .burger {
        right: 20px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 55%/cover;
        &__btns {
           margin-top: 32px; 
        }
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 20px;
        }
    }
    .about {
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
            row-gap: 20px;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .skills {
        &__ratings {
            grid-template-columns: repeat(auto-fit,300px);
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 0 0 0;
            grid-template-columns: 300px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
            
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            margin: 0 auto;
        }
    }
}        