.btn {
    width: 240px;
    height: 60px;
    padding: 21px 45px 21px 45px; 
    background-color: #00c2f0;
    border-radius: 3%;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    &:hover {
        background-color: #0a7b97;
    }
    &:focus {
        outline: none;
    }
    &_main {
        margin-top: 40px;
        outline: none;
    }
    &_left {
        z-index: 2;
        position: absolute;
        top: 220px;
        left: -30px;
        background-color: rgba(1, 1, 1, 0);
        border: none;
        &:focus {
            outline: none;
        }
    }
    &_right {
        z-index: 2;
        position: absolute;
        top: 220px;
        right: -30px;
        background-color: rgba(1, 1, 1, 0);
        border: none;
        &:focus {
            outline: none;
        }
    }
}