.countries {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item {
        img {
            width: 28px;
            height: 21px;
        }
        display: flex;
        justify-content: space-between;
    }
    &__subtitle {
        span {
            font-weight: 700;
        }
        margin-left: 11px;
        max-width: 189px;
        font-size: 12px;
        font-weight: 300;
    }
}

.header {
    height: 700px;
    position: relative;
    background: url(../img/background/promo_bg.jpg) no-repeat 65%/cover;
    &:after {
        content: '';
        position: absolute;
        height: 700px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 1;
    }
    &__logo {
        z-index: 2;
    }
    &__wrapper {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }
    &__nav {
        width: 540px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        list-style-type: none;
        z-index: 2;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 13px;
            font-weight: bold;
        }
    }
    &__smartphone {
        margin-top: 27px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        &-title {
            margin-top: 106px;
            width: 530px;
            z-index: 2;
            h1 {
                font-size: 42px;
                font-weight: 900;  
                line-height: 1.14;
                color: #fff;
                margin: 0;
            }
        }
        &-subtittle {
            margin-top: 27px;
            font-size: 24px;
            font-weight: 300;
            color:#fff;
            z-index: 2;
        }
    }
    &__smartpone-wrapper {
        width: 434px;
        height: 569px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    &__smartphone1 {
        position: absolute;
        right: 0;
        z-index: 3;
    }
    &__smartphone2 {
        position: absolute;
        top: 64px;
    }
}




