.popup__input {
    width: 358px;
    height: 38px;
    margin: 0 36px 18px 36px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}